<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<section class="block__articles block container">
  <header class="block__header">
    <h2 class="block__heading">Host on the Cloud to Keep Growing</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil, quibusdam?</p>
  </header>
  <article class="features grid grid--cols-2">
    <div class="feature__content">
    <span class="icon-container">
  <svg class="icon icon--primary">
  <use xlink:href='img/sprite.svg#computer'></use>
</svg>
</span>
      <h3 class="features__heading">Super Easy to Use</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officiis, reiciendis?
      </p>
      <a href="" class="link-arrow">Learn More</a>
    </div>
    <picture>
      <source srcset="img/easy.webp 1x, img/easy@2x.webp 2x" type="image/webp"/>
      <source srcset="img/easy.jpg 1x, img/easy@2x.jpg 2x" type="image/jpg"/>
      <img class="features__image" src="/img/easy@2x.jpg" alt="">
    </picture>
  </article>

  <article class="features grid grid--cols-2">
    <div class="feature__content feature__content--ordered">
    <span class="icon-container">
  <svg class="icon icon--primary">
  <use xlink:href='img/sprite.svg#computer'></use>
</svg>
</span>
      <h3 class="features__heading">Simply Fast Websites</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officiis, reiciendis?
      </p>
      <a href="" class="link-arrow">Learn More</a>
    </div>
    <picture>
      <source srcset="img/fast.webp 1x, img/fast@2x.webp 2x" type="image/webp"/>
      <source srcset="img/fast.jpg 1x, img/fast@2x.jpg 2x" type="image/jpg"/>
      <img class="features__image" src="/img/fast@2x.jpg" alt="">
    </picture>
  </article>

  <article class="features grid grid--cols-2">
    <div class="feature__content">
    <span class="icon-container">
  <svg class="icon icon--primary">
  <use xlink:href='img/sprite.svg#computer'></use>
</svg>
</span>
      <h3 class="features__heading">Wordpress Made Easy</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officiis, reiciendis?
      </p>
      <a href="" class="link-arrow">Learn More</a>
    </div>
    <picture>
      <source srcset="img/wordpress.webp 1x, img/wordpress@2x.webp 2x" type="image/webp"/>
      <source srcset="img/wordpress.jpg 1x, img/wordpress@2x.jpg 2x" type="image/jpg"/>
      <img class="features__image" src="/img/wordpress@2x.jpg" alt="">
    </picture>
  </article>

  <article class="features grid grid--cols-2">
    <div class="feature__content feature__content--ordered">
    <span class="icon-container">
  <svg class="icon icon--primary">
  <use xlink:href='img/sprite.svg#computer'></use>
</svg>
</span>
      <h3 class="features__heading">24/7 Expert Support</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officiis, reiciendis?
      </p>
      <a href="" class="link-arrow">Learn More</a>
    </div>
    <picture>
      <source srcset="img/easy.webp 1x, img/support@2x.webp 2x" type="image/webp"/>
      <source srcset="img/easy.jpg 1x, img/support@2x.jpg 2x" type="image/jpg"/>
      <img class="features__image" src="/img/support@2x.jpg" alt="">
    </picture>
  </article>
</section>
</body>
</html>
