<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<section class="block block--dark block--skewed-right block-showcase">
  <header class="block__header">
    <h2 class="block__heading">
      User-friendly Control Panel
    </h2>
  </header>
  <div class="container grid grid--cols-2">
    <picture class="block-showcase__image">
      <source srcset="img/ipad.png 1x, img/ipad@2x.png 2x" type="image/png">
      <source srcset="img/ipad.webp 1x, img/ipad@2x.webp 2x" type="image/webp">
      <img src="img/ipad.png">
    </picture>
    <ul class="list list-showcase">
      <li>
        <div class="media">
          <div class="media__image">
            <svg class="icon icon--primary">
              <use xlink:href='img/sprite.svg#snap'></use>
            </svg>
          </div>
          <div class="media__body">
            <h3 class="media__title">Easy Start & Managed Updates</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum, in!</p>
          </div>
        </div>
      </li>

      <li>
        <div class="media">
          <div class="media__image">
            <svg class="icon icon--primary">
              <use xlink:href='img/sprite.svg#growth'></use>
            </svg>
          </div>
          <div class="media__body">
            <h3 class="media__title">Staging, GIT & WP-CLI</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum, in!</p>
          </div>
        </div>
      </li>

      <li>
        <div class="media">
          <div class="media__image">
            <svg class="icon icon--primary">
              <use xlink:href='img/sprite.svg#wordpress'></use>
            </svg>
          </div>
          <div class="media__body">
            <h3 class="media__title">Dynamic Caching & More</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum, in!</p>
          </div>
        </div>
      </li>
    </ul>
  </div>
</section>
</body>
</html>
