<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<div class="callout callout--primary">
    <div class="grid grid--cols-2">
      <div class="callout--content">
        <h2 class="callout__heading">Ready to get started?</h2>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab blanditiis consectetur debitis earum esse illo quam quis quo saepe suscipit.
        </p>
      </div>
      <a class="button button--secondary button--long">Click me</a>
    </div>
  </div>
</body>
</html>
