<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<div class="card card--primary">
  <header class="card__header">Card Header</header>
  <div class="card__body">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati, sunt.</div>
</div>

<div class="card card--secondary">
  <header class="card__header">Card Header</header>
  <div class="card__body">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati, sunt.</div>
</div>
</body>
</html>
