<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<div class="collabse" id="collabse">
  <header class="collabse__header">
    <h2 class="collabse__title">Products</h2>
<span class="icon-container icon-container--black">
 <svg class="icon icon--white icon--small collabse__chevron" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
   <path d="M233.4 406.6c12.5 12.5 32.8 12.5 45.3 0l192-192c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L256 338.7 86.6 169.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3l192 192z"/>
 </svg>
</span>
  </header>
  <div class="collabse__body">
    <ul class="list">
  <li class="list__item list__item--bold">Item 0</li>
  <li class="list__item list__item--bold">Item 1</li>
  <li class="list__item list__item--bold">Item 2</li>
</ul>
  </div>
</div>
</body>
</html>
