<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<footer class="block block--dark">
  <div class="container container-footer grid">
      <section class="footer__section">
        <div class="collabse">
          <header class="collabse__header">
            <h2 class="collabse__title">Products</h2>
            <span class="icon-container icon-container--black">
 <svg class="icon icon--white icon--small collabse__chevron" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
   <path
     d="M233.4 406.6c12.5 12.5 32.8 12.5 45.3 0l192-192c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L256 338.7 86.6 169.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3l192 192z"/>
 </svg>
</span>
          </header>
          <div class="collabse__body">
            <ul class="list">
              <li class="list__item"><a href="">Website Hosting</a></li>
              <li class="list__item"><a href="">Free Automated</a></li>
              <li class="list__item"><a href="">Wordpress</a></li>
              <li class="list__item"><a href="">Migrations</a></li>
            </ul>
          </div>
        </div>
      </section>
      <section class="footer__section">
        <div class="collabse">
          <header class="collabse__header">
            <h2 class="collabse__title">Company</h2>
            <span class="icon-container icon-container--black">
 <svg class="icon icon--white icon--small collabse__chevron" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
   <path
     d="M233.4 406.6c12.5 12.5 32.8 12.5 45.3 0l192-192c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L256 338.7 86.6 169.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3l192 192z"/>
 </svg>
</span>
          </header>
          <div class="collabse__body">
            <ul class="list">
              <li class="list__item"><a href="">About</a></li>
              <li class="list__item"><a href="">Affilliates</a></li>
              <li class="list__item"><a href="">Blog</a></li>
            </ul>
          </div>
        </div>
      </section>
       <section class="footer__section">
        <div class="collabse">
          <header class="collabse__header">
            <h2 class="collabse__title">Support</h2>
            <span class="icon-container icon-container--black">
 <svg class="icon icon--white icon--small collabse__chevron" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
   <path
     d="M233.4 406.6c12.5 12.5 32.8 12.5 45.3 0l192-192c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L256 338.7 86.6 169.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3l192 192z"/>
 </svg>
</span>
          </header>
          <div class="collabse__body">
            <ul class="list">
              <li class="list__item"><a href="">Contact</a></li>
              <li class="list__item"><a href="">Knowledge Base</a></li>
              <li class="list__item"><a href="">FAQ</a></li>
            </ul>
          </div>
        </div>
      </section>
      <section class="footer__section">
        <div class="collabse">
          <header class="collabse__header">
            <h2 class="collabse__title">Domains</h2>
            <span class="icon-container icon-container--black">
 <svg class="icon icon--white icon--small collabse__chevron" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
   <path
     d="M233.4 406.6c12.5 12.5 32.8 12.5 45.3 0l192-192c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L256 338.7 86.6 169.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3l192 192z"/>
 </svg>
</span>
          </header>
          <div class="collabse__body">
            <ul class="list">
              <li class="list__item"><a href="">Domain Checker</a></li>
              <li class="list__item"><a href="">Domain Transfer</a></li>
              <li class="list__item"><a href="">Free Domain</a></li>
            </ul>
          </div>
        </div>
      </section>
    <div class="container-footer__logo">
      <img src="img/logo.svg" alt="logo">
      <p>Created by Oleksandr 2023</p>
    </div>
  </div>
</footer>
</body>
</html>
