<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<section class="banner block--skewed-left">
    <div class="container banner__container">
      <div class="grid grid--cols-2 banner__grid">
        <div class="banner__header">
          <h1 class="banner__title">Cloud Hosting for Pros</h1>
          <p class="banner__description">Deploy your websites in less than 60 seconds</p>
          <a class="button button--accent button--long">Get Started
          </a>
        </div>
        <picture>
          <img class="banner__image" src="img/banner.png" alt="">
        </picture>

      </div>
    </div>
  </section>
</body>
</html>
