<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<ul class="list list--inline">
  <li class="list__item list__item--bold">Item 0</li>
  <li class="list__item list__item--bold">Item 1</li>
  <li class="list__item list__item--bold">Item 2</li>
</ul>
<ul class="list list--tick">
  <li class="list__item list__item--bold">Item 0</li>
  <li class="list__item list__item--bold">Item 1</li>
  <li class="list__item list__item--bold">Item 2</li>
</ul>
</body>
</html>
