<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<nav class="nav collabse">
  <a href="/">
    <img src="img/logo.svg" alt="logo">
  </a>
  <svg class="icon icon--primary nav__toggler">
  <use xlink:href='img/sprite.svg#menu'></use>
</svg>
  <ul class="list nav__list collabse__body">
    <li class="nav__item"><a href="#">Hosting</a></li>
    <li class="nav__item"><a href="#">VPS</a></li>
    <li class="nav__item"><a href="#">Domain</a></li>
    <li class="nav__item"><a href="#">Pricing</a></li>
  </ul>
</nav>
</body>
</html>
