<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<div class="card card--primary testimonial">
  <div class="grid grid--cols-2">
    <div class="testimonial__image">
      <img src="/img/testimonial.jpg" alt="">
      <span class="icon-container icon-container--accent">
  <svg class="icon--small icon--white">
  <use xlink:href='img/sprite.svg#quotes'></use>
</svg>
  </span>
    </div>
    <blockquote class="quote">
      <p class="quote__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam exercitationem ipsa odio
        porro quaerat quas quos repellendus reprehenderit sequi voluptatem.</p>
      <footer>
        <div class="media">
          <div class="media__image">
            <svg class="icon icon--primary">
              <use xlink:href='img/sprite.svg#line'></use>
            </svg>
          </div>
          <div class="media__body">
            <h3 class="media__title quote__author">Jhone Lumeo</h3>
            <p class="quote__organizations">Mosh company CEO</p>
          </div>
        </div>
      </footer>
    </blockquote>
  </div>
</div>
</body>
</html>
